[submodule "sekai_xray"]
	path = ProsekaToolsApp/Assets/sekai_xray
	url = https://github.com/MiddleRed/pjsk-mysekai-xray.git
[submodule "ProsekaToolsApp/Services/Calc"]
	path = ProsekaToolsApp/Services/Calc
	url = https://github.com/NeuraXmy/sekai-deck-recommend-cpp.git
[submodule "ProsekaToolsApp/Assets/master"]
	path = ProsekaToolsApp/Assets/master
	url = https://github.com/Sekai-World/sekai-master-db-diff.git
